[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
twine = "*"
black = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
pytest = "*"
docformatter = "*"

[packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
